.draggable-box {
  padding: 0 5px;
  margin-top: 5px;
  border:1px solid #efefef;
}
.draggable-toggle-icon {
  display: inline-block;
  padding: 3px;
  color: #06f;
}
.draggable-ing {
  background: #09f;
}
.draggable-over {
  background: #fefefe;
}

.child-draggable-box {
  background: #fefefe;
  margin-left:26px;
}
.child-draggable-box-ing {
  background: #efefef;
}
.child-draggable-box-over {
  background: #fefefe;
}
